<h1>Knockout.js Examples</h1>
<h2>by Daniel Doezema</h2>
<hr />
<ul>
  <li><%= link_to "#1 - Presenter", "/example/1"  %></li>
                  <li><%= link_to "#2 - Add User", "/example/2"  %></li>
                  <li><%= link_to "#3 - Shopping Cart", "/example/3"  %></li>
</ul>
